/*Thanks Google, for all of these weights of Roboto*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic|Roboto+Slab:400,700);

/* TYPOGRAPHY */
/* TYPOGRAPHY */
/* TYPOGRAPHY */

/*Some exciting information*/

h1 {
	position:relative;
	padding-top: 2em;
	margin-left: 2em;
	padding-right: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 5em;
	color: #0D0D0D;
}

/*Not really as exciting as the other information*/

h2 {
	padding-top:2em;
	padding-left: 6.5em;
	padding-right: 1em;
	padding-bottom: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 2em;
	color: #595959;
}


a {
	box-shadow: 10px 10px 10px #E5E5E5;
	background-color: #FFFFFF;
	border-radius: .04em;
	padding-right:.25em;
	padding-left:.25em;
	padding-bottom: .15em;
}

/* POSITIONING */
/* POSITIONING */
/* POSITIONING */

/*html and body reset to kill that gross border that tries to be there by default*/
html {
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px;
}

#banner {
	background-color:#F2F2F2;
	height:30em;
	z-index: 1;
}

#eyeballDiv
{
	position:fixed;
	background-color:rgba(255,255,255,.85);
	left: 2.9em;
	border-bottom-left-radius:.3em;
	border-bottom-right-radius:.3em;
	box-shadow: 5px 5px 20px #E5E5E5;
	z-index: 2;
}

#eyeballDivDown
{
	position:fixed;
	background-color:rgba(255,255,255,.85);
	right: 2.9em;
	border-bottom-left-radius:.2em;
	border-bottom-right-radius:.2em;
	box-shadow: 5px 5px 20px #E5E5E5;
	z-index: 3;
}


#eyeballImg
{
	/* Something might go here eventually */
}

#eyeballImgDown
{
	transform:rotate(180deg);
}

