@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic|Roboto+Slab:400,700);

/* Typography */
/* Typography */
/* Typography */

html {
	color:#FCFCFC;
}

/*Some exciting information*/
h1 {
	padding-top: 1em;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .5em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 4em;
	color: #0D0D0D;
}

span {
	box-shadow: 10px 10px 10px #F2F2F2;
}
