/*html and body reset to kill that gross border that tries to be there by default*/
html, div, figure, figcaption {
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}


/*
 __   __   __        __   ___  __  
|__) |__) /  \ |  | /__` |__  |__) 
|__) |  \ \__/ |/\| .__/ |___ |  \ 

*/

/*Thanks Google, for all of these weights of Roboto*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic|Roboto+Slab:400,700);

/*Some exciting information*/
h1 {
	/* Apercu */
	font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;	
	font-size: 6.5vw;
	margin-top: 0px;
	padding-top: 29vh;
	padding-bottom: 29vh;
	padding-left: 15vw;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
	color: #FFFFFF;
	line-height: 130%;
}

/*Not really as exciting as the other information*/
/*Used for body text in the project pages*/
h2 {
	/* Apercu Mono */
	font-family:"Apercu Mono Regular", 'Andale Mono', monospace; font-size-adjust:0.5; font-weight:normal; font-style:normal;
	padding-top:2.5em;
	padding-left: 15vw;
	padding-right: 12em;
	/*padding-bottom: 2em;*/
	font-weight: 400;
	font-size: 2em;
	color: rgba(0,0,0,.8);
	margin: 0;
}

h3 {
	/* Apercu Mono */
	font-family:"Apercu Mono Regular", 'Andale Mono', monospace; font-size-adjust:0.5; font-weight:normal; font-style:normal;
	padding-top:1em;
	padding-left: 15vw;
	padding-right: 12em;
	/*padding-bottom: 2em;*/
	font-weight: 400;
	font-size: 1em;
	color: rgba(0,0,0,.8);
	max-width: 45vw;
	margin:0px;
}

a {
	color: #388E3C;
	text-decoration: none;
	padding-top:1vw;
}

a:hover {
	border-bottom: 3px solid;
}

span:hover{
	border-bottom: 0px;
}

a.typed {
	box-shadow: 10px 10px 20px rgba(0,0,0,.15);
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-right:.25em;
	padding-left:.25em;
	padding-bottom: .15em;
	color: #000000;
}

body {
	margin:0px;
	padding:0px;
	background-color: rgba(0,0,0,.015);
	width: 100%;
    height: 100%;
    overflow-x: hidden;
}

figure {
	padding: 1.5em;
}

figcaption {
	text-align: center;
	/* Apercu Mono */
	font-family:"Apercu Mono Regular", 'Andale Mono', monospace; font-size-adjust:0.5; font-weight:normal; font-style:normal;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
	font-size: 1em;
	color: rgba(0,0,0,.8);
}

em {
	color:#FFFFFF;
}

/*div.nav {
	padding:1vw;
	background-color:#4CAF50;
	position: fixed;
}*/


.thumbnail
{
	/*border-radius:5px;*/
	-webkit-box-shadow: 15px 15px 15px 0px  rgba(0,0,0,0.05);
	-moz-box-shadow: 15px 15px 15px 0px  rgba(0,0,0,0.05);
	box-shadow: 15px 15px 15px 0px  rgba(0,0,0,0.05);
	transition: box-shadow .5s;
	max-width: 375px;
}

.thumbnail:hover{
	-webkit-box-shadow: 20px 20px 15px 0px  rgba(0,0,0,0.03);
	-moz-box-shadow: 20px 20px 15px 0px rgba(0,0,0,0.03);
	box-shadow: 20px 20px 15px 0px  rgba(0,0,0,0.03);
}

.thumbnail:active{
	-webkit-box-shadow: 25px 25px 15px 0px  rgba(0,0,0,0.01);
	-moz-box-shadow: 25px 25px 15px 0px rgba(0,0,0,0.01);
	box-shadow: 25px 25px 15px 0px rgba(0,0,0,0.01);
}

.project {
	padding: 5%;
	padding-bottom: 5%;
	float:left;
}

/*bukkits are for holding things in*/
.bukkit{
	clear:left;
	width: 100%;
	padding-bottom:5vw;
	padding-top:5vw;
}


#even {
	clear:left;
	padding-left: 10vw;
}

#odd {
	clear:left;
	padding-left: 15vw;
}

#banner
{
	/*background: url(stripes.svg); */
	background: #4caf50; /* Old browsers */
background: -moz-linear-gradient(top, #4caf50 0%, #3e8e42 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4caf50), color-stop(100%,#3e8e42)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4caf50 0%,#3e8e42 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4caf50 0%,#3e8e42 100%); /* Opera 11.10+ */

}


#name
{
	position:fixed;
	color:#FFFFFF;
	display:none;
	z-index: -1;
	font-size: 1.25em;
	padding-left: 5vw;

}

.nav {
	position:fixed;
	width:100%;
	background-color:#4CAF50;
	opacity:.85;
	height:9vh;
}




#work{
	padding-top: 15vw;
}

h2#blog{
	color:#FFFFFF;
}

div#blog{
	background-color:#4CAF50;
	padding-top: 0vw;
}

.board {
	width: 90%;
}

div#bio.bukkit {
	margin-top: 4em;
	background: url(stripes2.svg);
	padding-bottom: 5vw;
}

.photo {
	max-width:525px;
}

/*
___       __        ___ ___        
 |   /\  |__) |    |__   |         
 |  /~~\ |__) |___ |___  |         

*/

/* Small Devices, Tablets */
    @media only screen and (max-width : 1024px) {

    	.project{
			text-align: center;
			clear:left;
			padding:15px;
			margin:auto;
			float:none;
		}

		#even{
			padding:15px;

		}
		#odd{
			padding:15px;
		}

		figure{
			padding:0px;
		}

		#biography{
			padding-right:10vw;
			padding-bottom: 10vw;
		}

		#blog{
			padding-right:10vw;
		}

		h3 {
			max-width: 80vw;
		}

		#name {
			padding-right:0;
			margin:0;
			max-width: 80vw;
		}

    }


/*
       __   __          ___        
 |\/| /  \ |__) | |    |__         
 |  | \__/ |__) | |___ |___        
                                 
*/

 @media only screen and (max-width: 640px) {
 		h1{
 			font-size:41.6px;
	        margin-top: 0px;
			font-weight: 400;
			color: #FFFFFF;
			line-height: 130%;
			margin-right: 15%;
		}

		h2 {
			padding-right:0px;
		}


		.project{
			text-align: center;
			padding:15px;
			margin:auto;
			float:none;
		}

		#even{
			padding:15px;
		}
		#odd{
			padding:15px;
		}

		figure{
			padding:0px;
		}

		#biography{
			padding-right:10vw;
		}

		#blog{
			padding-right:10vw;
			padding-bottom: 10vw;
		}

		h3 {
			max-width: 80vw;
		}

		#name {
			padding-right:0;
			margin:0;
			max-width: 80vw;
		}

    }
/*
 __     __           __   __            __         ___  __   __  
|__) | / _`     /\  /__` /__`     |\/| /  \ |\ | |  |  /  \ |__) 
|__) | \__>    /~~\ .__/ .__/     |  | \__/ | \| |  |  \__/ |  \ 

*/

 @media only screen and (min-height: 800px) {
 		h1{
 			font-size: 5.8vw;
 			padding-top:237px;
 			padding-bottom:237px;
	        margin-top: 0px;
			margin-left: 15%;
			font-weight: 400;
			line-height: 130%;
		}
    }
                                                                 